html, body {
    font-size:  18px;
}

.btn {
    display: inline-block;
    border: dimgray solid 2px;
    border-radius: 5px;
    padding: 5pt;
    color: black;
    text-decoration: none;
    background: antiquewhite;
}

.btn:hover {
    border: black solid 2px;
    background: bisque;
}

.disabled, .disabled:hover {
    pointer-events: none;
    border: darkgray solid 2px;
    background: antiquewhite;
    color: darkgray;
}

.question-wrapper {
    height: 90vh;
}

.question {
    padding: 10px;
}

.answer {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 10px 100px;
}

.button-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.grid-center {
    display: grid;
    justify-items: center;
    padding: 20px;
}

.pos {
    font-size: 30px;
    color: #070;
}

.neg {
    font-size: 30px;
    color: #700;
}
