html, body {
    font-size:  18px;
}

.btn {
    display: inline-block;
    border: dimgray solid 2px;
    border-radius: 5px;
    padding: 5pt;
    font-size:  1rem;
    color: black;
    text-decoration: none;
    background: antiquewhite;
}

.btn:hover {
    border: black solid 2px;
    background: bisque;
}

.disabled, .disabled:hover {
    pointer-events: none;
    border: darkgray solid 2px;
    background: antiquewhite;
    color: darkgray;
}

.question-wrapper {
    height: 80vh;
}

.question {
    padding: 10px;
}

.answer {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 10px 100px;
}

.grid-c1-center {
    display: grid;
    justify-items: center;
}

.grid-c3-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.p20 {
    padding: 20px;
}

.m20 {
    margin: 20px;
}

.large-text {
    font-size: 30px;
}

.pos {
    color: #0A0;
}

.neg {
    color: #A00;
}
