<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div class="grid-c3-center">
    <div th:text="'Вопрос ' + ${index} + ' / ' + ${questionsSize}" class="large-text"></div>
    <a href="/" class="btn">Сбросить и начать заново</a>
    <div class="large-text">
        <span th:text="${trueAnswers}" class="pos"></span>
        <span>/</span>
        <span th:text="${falseAnswers}" class="neg"></span>
    </div>
</div>
<div class="question-wrapper">
    <div th:text="${ques.text}" class="question"></div>
    <div th:each="answer:${ques.answers}" class="answer">
        <input form="answer" th:id="${answer.id}" type="radio"
               name="answer" th:value="${answer.text.substring(0, 1)}"
               th:disabled="${ques.userAnswer!=0}">
        <label th:for="${answer.id}" th:text="${answer.text}"></label>
    </div>

    <div th:if="${ques.userAnswer!=0}" class="grid-c1-center p20">
        <div th:if="${ques.userAnswer==ques.trueAnswer}" class="large-text pos">ВЕРНО!</div>
        <div th:if="${ques.userAnswer!=ques.trueAnswer}" class="large-text neg">НЕВЕРНО!</div>
        <div>
            <span>Ваш ответ: </span>
            <span th:text="${ques.userAnswer}"></span>
        </div>
        <div>
            <span>Верный ответ: </span>
            <span th:text="${ques.trueAnswer}"></span>
        </div>
    </div>

</div>
<div class="grid-c3-center">
    <a th:href="${index - 1}" class="btn" th:classappend="${index <= 1}?disabled">Назад</a>
    <input type="submit" id="submitAns" form="answer" class="btn disabled" value="Ответ" disabled>
    <a th:href="${index + 1}" class="btn" th:classappend="${index >= questionsSize}?disabled">Дальше</a>
</div>

<form id="answer" method="post">
    <input type="hidden" name="url" th:value="${#httpServletRequest.getRequestURI()}">
</form>

<script>
    $("input[type=radio]").on("change", function () {
        $("input#submitAns").prop("disabled", false).removeClass("disabled");
    });
</script>
</body>
</html>
